<br>
<h2 data-l10n-id="pad.importExport.osfexport"></h2>
<a id="exportOsfChapter" target="_blank" class="exportlink"><div class="exporttype" id="exportOsfChapter" data-l10n-id="pad.importExport.exportOsfChapter"></div></a>
<a id="exportOsfHTML" target="_blank" class="exportlink"><div class="exporttype" id="exportOsfHTML" data-l10n-id="pad.importExport.exportOsfHTML"></div></a>
<a id="exportOsfParser" target="_blank" class="exportlink"><div class="exporttype" id="exportOsfParser" data-l10n-id="pad.importExport.exportOsfParser"></div></a>