<br>
<h2 data-l10n-id="pad.importExport.osfexport"></h2>
<a id="exportOsfChapter" href='#' class="exportlink"><div class="exporttype osfexporttype" id="exportOsfChapter" data-l10n-id="pad.importExport.exportOsfChapter"></div></a>
<a id="exportOsfHTML" href='#' class="exportlink"><div class="exporttype osfexporttype" id="exportOsfHTML" data-l10n-id="pad.importExport.exportOsfHTML"></div></a>
<a id="exportOsfParser" href='#' class="exportlink"><div class="exporttype osfexporttype" id="exportOsfParser" data-l10n-id="pad.importExport.exportOsfParser"></div></a>